<h1>heading</h1>
{{name}}<br>
{{1+1}}<br>
{{10*2}}<br>
{{20/2}} <br>
<a routerLink="header">Header---</a>
<a routerLink="footer">Footer---</a>
<a routerLink="eventbinding">eventbinding---</a>
<a routerLink="propertyBinding">PropertyBinding---</a>
<a routerLink="pipes">pipes---</a>
<a routerLink="customPipes">customPipes---</a>
<a routerLink="deractives">deractives---</a>
<a routerLink="componentnesting">componentnesting---</a>
<a routerLink="template-driven">FORM Template-driven---</a>
<a routerLink="reactive-form">FORM reactive-form---</a>
<router-outlet></router-outlet>
