<p>
  pipes works!
</p>
<h1>pipes</h1>
<h3>pipe uppercase</h3>
{{name|uppercase}}
<h3>pipe lowercase</h3>
{{name|lowercase}}
<h3>date with default formet</h3>
{{date}}
<h3>date pipe with specified Formet1 dd.mm.yyyy</h3>
Date: {{date | date:'dd.MM.yyyy'}}
<h3>date pipe with specified Formet2 mm.dd.yyyy</h3>
Date: {{date | date:'MM.dd.yyyy'}}
<h3>date pipe with specified Formet3 </h3>
Date: {{date | date:'MM.dd.yy'}}
<h3>date pipe with specified Formet4 </h3>
Date: {{date | date:'yy.MM.dd'}}
<h3>date pipe with specified Formet5 </h3>
Date: {{date | date:'dd/MM/yyyy'}}
<h3>date pipe with specified Formet6 </h3>
Date: {{date | date:'dd-MM-yyyy'}}